# IDEA
.idea/
*.iws
*.iml
*.ipr

# Build
target/
*.jar
*.war

# Logs
logs/
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend dependencies
frontend/node_modules/