spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  jwt:
    secret: development-secret-key-2024

server:
  port: 8080

logging:
  level:
    com.library: DEBUG